
{% extends 'base.html' %}

{% block title %}
  Пост {{ author|truncatechars:30 }}
{% endblock %}

{% block content%}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{post.pub_date|date:"j E Y"}}  
        </li>  
        <li class="list-group-item">
          Группа: {{ post.group.title }}
        {% if post.group %}  
          <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
        {% endif %}
        </li>
        <li class="list-group-item">
          Автор: {{ post.author.get_full_name }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span > {{ post_count }}</span>
        </li>
        <li class="list-group-item">
        {% if post.author.username is not None%}
          <a href="{% url 'posts:profile' post.author.username  %}">
              Все посты пользователя
          </a>
        {% endif %}
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
    <p>
      {{ post.text|linebreaks }}
    </p>

    {% if request.user == posts.author %}
      <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
        Редактировать запись
      </a>
    {% endif %}
    </article>
  </div>
{% endblock %}